/*背景图*/

.a_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a_background_top{
    width: 100%;
    height: 71.6%;
    background-image: url("http://img.mukewang.com/55addf6900019d8f14410645.png");
    background-size: 100% 100%;
}


.a_background_middle{
    width: 100%;
    height: 13.1%;
    background-image: url("http://img.mukewang.com/55addf800001ff2e14410118.png");
    background-size: 100% 100%;
}

.a_background_bottom{
    width: 100%;
    height: 15.3%;
    background-image: url("http://img.mukewang.com/55addfcb000189b314410138.png");
    background-size: 100% 100%;
}
/*按钮样式*/
button {
width: 80px;
line-height: 38px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
position: absolute;
overflow: hidden;
bottom: 0px

}
.button .green{
border:1px solid #64c878;
box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
background: -webkit-linear-gradient(top,#90dfa2,#84d494);
background: -moz-linear-gradient(top,#90dfa2,#84d494);
background: linear-gradient(top,#90dfa2,#84d494);
cursor: pointer;
}


 /*云彩飘过动画CSS设置*/
.cloud{
	z-index: 2;
    position: absolute;
}
.cloud:first-child {
  width: 181px;
  height: 101px;         
  left: -5%;          
  top: 15%;         
  background: url("http://img.mukewang.com/55addfde0001aec501810101.png");
}
 .cloud:last-child {
 	width: 301px;
    height: 140px;
    right: -5%;
    background: url("http://img.mukewang.com/55addff500016df503010140.png");
}                 
     
        .cloud1Anim{
            -webkit-animation-name: smallCloud;
            -webkit-animation-duration: 20s;
            -webkit-animation-iteration: infinite;
            -moz-animation-name: smallCloud;
            -moz-animation-duration: 20s;
            -moz-animation-iteration: infinite;
        }
        .cloud2Anim{
            -webkit-animation-name: largeCloud;
            -webkit-animation-duration: 20s;
            -webkit-animation-iteration: infinite;
            -moz-animation-name: largeCloud;
            -moz-animation-duration: 20s;
            -moz-animation-iteration: infinite;
        }        
        @-webkit-keyframes smallCloud{
            0%{
                left: -5%;
            }
            100%{
                left: 100%;
            }
        }
        @-moz-keyframes smallCloud{
            0%{
                left: -5%;
            }
            100%{
                left: 100%;
            }
        }
        @-webkit-keyframes largeCloud{
            0%{
                right: -5%;
            }
            100%{
                right: 100%;
            }
        }
        @-moz-keyframes largeCloud{
            0%{
                right: -5%;
            }
            100%{
                right: 100%;
            }
        }
/*太阳旋转动画CSS设置*/
#sun {
    background: url("http://img.mukewang.com/55ade004000106c202010201.png") no-repeat;
    position: absolute;
    z-index: 1;
    top: -30px;
    height: 201px;
    width: 201px;
    right: 40%;
}

.rotation {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration: 1;
    -moz-animation-name: rotation;
    -moz-animation-duration: 40s;
    -moz-animation-iteration: 1;
}

@-webkit-keyframes rotation {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(-2000px) translateY(400px);
    }
}

@-moz-keyframes rotation {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(-2000px) translateY(400px);
    }
}
       