* {
       padding: 0;
       margin: 0;
   }
   
   ol,
   ul,
   li {
       list-style-type: none;
   }
   /*主体部分*/
   
   #content {
       width: 100%;
       height: 100%;
       /* top: 20%; */
       overflow: hidden;
       position: absolute;
   }
   
   .content_wrap {
       position: relative;
   }
   
   .content_wrap > li {
       float: left;
       overflow: hidden;
       position: relative;
   }
   
   a {
       position: absolute;
       top: 50%;
       left: 40%;
   }
   
   .charector {
       position: absolute;
       left: 0%;
       top: 55%;
       position: absolute;
       width: 100%;
       height: 100%;
       width: 151px;
       height: 291px;
       background: url(http://img.mukewang.com/55ade248000198ae10550582.png) -0px -291px no-repeat;
   }
   /*人物暂停*/
   
   .pauseWalk {
       -webkit-animation-play-state: paused;
   }
   /*脚上动作*/
   .slowWalk {
       -webkit-animation-name: person-slow;
       -webkit-animation-duration: 950ms;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-timing-function: steps(1, start);
       -moz-animation-name: person-slow;
       -moz-animation-duration: 950ms;
       -moz-animation-iteration-count: infinite;
       -moz-animation-timing-function: steps(1, start)
   }
   /*持花慢走动作*/
   .slowFlowerWalk {
       -webkit-animation-name: person-flower-slow;
       -webkit-animation-duration: 950ms;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-timing-function: step-start;
       -moz-animation-name: person-flower-slow;
       -moz-animation-duration: 950ms;
       -moz-animation-iteration-count: infinite;
       -moz-animation-timing-function: step-start;
   }
   /*男孩初始状态*/
   .boyOriginal {
       background-position: -150px -0px;
   }
   
   @-webkit-keyframes person-flower-slow {
       0% {
           background-position: -453px -0px;
       }
       25% {
           background-position: -904px -0px;
       }
       50% {
           background-position: -451px -0px;
       }
       75% {
           background-position: -753px -0px;
       }
       100% {
           background-position: -300px -0px;
       }
   }
   
   @-moz-keyframes person-flower-slow {
       0% {
           background-position: -453px -0px;
       }
       25% {
           background-position: -904px -0px;
       }
       50% {
           background-position: -451px -0px;
       }
       75% {
           background-position: -753px -0px;
       }
       100% {
           background-position: -300px -0px;
       }
   }
   
   @-webkit-keyframes person-slow {
       0% {
           background-position: -0px -291px;
       }
       25% {
           background-position: -602px -0px;
       }
       50% {
           background-position: -302px -291px;
       }
       75% {
           background-position: -151px -291px;
       }
       100% {
           background-position: -0px -291px;
       }
   }
   
   @-moz-keyframes person-slow {
       0% {
           background-position: -0px -291px;
       }
       25% {
           background-position: -602px -0px;
       }
       50% {
           background-position: -302px -291px;
       }
       75% {
           background-position: -151px -291px;
       }
       100% {
           background-position: -0px -291px;
       }
   }
   /*男孩转身*/
   
   .boy_rotate {
       -webkit-animation-name: boy-rotate;
       -webkit-animation-duration: 850ms;
       -webkit-animation-iteration-count: 1;
       -webkit-animation-timing-function: step-start;
       -webkit-animation-fill-mode: forwards;
       -moz-animation-name: boy-rotate;
       -moz-animation-duration: 850ms;
       -moz-animation-iteration-count: 1;
       -moz-animation-timing-function: step-start;
       -moz-animation-fill-mode: forwards;
   }
   
   @-webkit-keyframes boy-rotate {
       0% {
           background-position: -603px -291px;
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
   }
   
   @-moz-keyframes boy-rotate {
       0% {
           /*background-position: -603px -291px;*/
       }
       16.7% {
           background-position: -150px -0px;
       }
       33.4% {
           background-position: -453px -291px;
       }
       50.1% {
           background-position: -0px -0px;
       }
       66.8% {
           background-position: -903px -291px;
       }
       83.5% {
           background-position: -753px -291px;
       }
       100% {
           background-position: -603px -291px;
       }
   }